body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
}

.main-header {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
.header-container {
  display: flex;
}

.nav-header {
  display: flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.half-logo {
  color: #2e2f42;
}

.site-nav {
  display: flex;
}
.site-item {
  margin-right: 40px;
}

/* .site-item:last-child {
  margin-right: 0;
} */

.site-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #2e2f42;
}

.site-link.active::after {
  content: '';
  width: 100%;
  display: block;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.main-section-title {
  width: 496px;
  margin: 0 auto;
}

.site-link:hover,
.site-link:focus {
  color: #404bbf;
}

.address {
  margin-left: auto;
  font-style: normal;
}

.address-item {
  display: flex;
}

.item {
  margin-right: 40px;
}

.item:last-child {
  margin-right: 0;
}

.address-main {
  display: block;
  padding: 24px 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-main:hover,
.address-main:focus {
  color: #404bbf;
}

/* section 1 */

.main-section {
  margin: 0 auto;
  padding: 188px 0;
  background-color: #2e2f42;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main-bg.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-section-title {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.main-section-button {
  margin: 0 auto;
  margin-top: 48px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-section-button:hover {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.main-section-button:hover {
  background-color: #404bbf;
}

.main-section-button:active {
  background-color: #404bbf;
}
.main-section-button:focus {
  background-color: #404bbf;
}

.main-section {
}
.main-container {
}

/* section 2 */

.article {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.article-item {
  display: flex;
}

.article-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.article-list {
  width: calc((100% - 72px) / 4);
}

.article-title {
  margin-bottom: 8px;
}

.article-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.article-list {
  margin-right: 24px;
}

.article-list:last-child {
  margin-right: 0;
}

/* section 3 */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-it {
  display: flex;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-it .team-item {
  margin-right: 24px;
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-it .team-item:last-child {
  margin-right: 0;
}

.team-header {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-profile {
  padding: 32px 0;
}

.team-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* section 4 */

.portfolio {
  padding: 120px 0;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item:last-child {
  margin-right: 0;
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}

/* footer */

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-info-container {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.half-footer-logo {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 264px;
}

/* 
Section Teams
*/

.reviews-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  margin-top: 8px;
}
.reviews-item {
  width: 40px;
  height: 40px;
}
.reviews-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  color: #f4f4fd;

  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-link:hover,
.reviews-link:focus {
  background-color: #404bbf;
}
.reviews-icon {
  fill: currentColor;
}

/* FOOTER ICONS */
.footer-social-container {
}
.footer-social-text {
  color: #fff;
  margin-bottom: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  color: #f4f4fd;

  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-social-icon {
  fill: currentColor;
}
